<h2>Sign Up</h2>
<form action='/signup' method="POST">
  <p><label for="username">Username:</label></p>
    <input type="text" name="username" id="username" placeholder="Enter your username">
    <p><label for="email">Email:</label></p>
    <input type="text" name="email" id="email" placeholder="Enter your e-mail"></p>
    <p><label for="password">Password: </label></p>
      <input type="password" name="password" id="password" placeholder="Enter your Password">
    <input type="submit" value ="submit">

</form>
